@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@using ShoeStoreManagement.Core.Enums;

@{
	List<Voucher> vouchers = ViewData["vouchers"] as List<Voucher> ?? new List<Voucher>();

}


<div class="row borderCustom">
	<div class="col-2 borderCustom1">
		<div class="row">
			<ii class="row-1 h6 mb-2 mt-4">Category</ii>

			<div class="tabCustom row-cols-6">
				<button class="tabCustom" onclick="openCity(event, 'London')">All</button>
				<button class="tabCustom" onclick="openCity(event, 'London')">Using</button>
				<button class="tabCustom" onclick="openCity(event, 'London')">Out of date</button>
				<button class="tabCustom" onclick="openCity(event, 'London')">Future</button>
			</div>
		</div>
	</div> @*used to col-3 vs col-10*@

	<div class="container col-10">
		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table myaccordion table-hover" id="accordion">
						<thead>
							<tr>
								<th>#</th>
								<th>Code</th>
								<th>Condition</th>
								<th>Value</th>
								<th>Start Date</th>
								<th>Expire</th>
								<th>State</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@{
								var index = 0;
							}
							@foreach (var i in vouchers)
							{
								<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
									<th scope="row">@{
											index++; 
										} @index</th>
									<td>@i.Code</td>
									<td>@i.ConditionType</td>
									<td>@i.Value</td>
									<td>@i.CreatedDate</td>
									<td>@i.ExpiredValue</td>
									<th>@i.State</th>
									<td>
										<a href="@Url.Action("Edit","Voucher",new {id = @i.Id})"  class="fas fa-edit"></a>
									</td>
								</tr>
							}
							@*<tr>
							<td colspan="6" id="collapseOne" class="acc collapse" data-parent="#accordion" style="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iste, facere sunt sequi nostrum ipsa, amet doloremque magnam reiciendis tempore sapiente. Necessitatibus recusandae harum nam sit perferendis quia inventore natus.</p>
							</td>
							</tr>*@

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@{
	Voucher voucher = new Voucher() {

	};
}

<partial name="Create.cshtml" view-data="ViewData" model="voucher"></partial>