@using ShoeStoreManagement.Views.Shared.Components;
<!-- Button trigger modal -->
@using ShoeStoreManagement.Core.Models
@using ShoeStoreManagement.Core.ViewModels
@using ShoeStoreManagement.Areas.Identity.Data
@model OrderVM

@{
    
}

<div class="row">
    <p class="h1" id="label" style="margin-left:auto;margin-right:auto">Add a new Order </p>
</div>
<form method="post" action="Admin/Order/Index" > 
    <div class="row p-0 mt-2">
        <input value=true name="isOnProcessing" hidden/>
        <div class="col-6 d-flex flex-column gap-2">
            <div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" hidden placeholder="Nguyen Van A">

                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Nguyen Van A" value="@Model.customers[0].UserName">
                    <label for="floatingInput">Enter Name</label>
                </div>
                @if (@Model.customers[0] != null)
                {
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">

                            @foreach (var i in Model.customers[0].Addresses)
                            {

                                <option value="@i.AddressId">
                                    @i.AddressDetail
                                </option>
                            }

                        </select>
                        <label for="floatingSelect">Address</label>
                    </div>


                }
                else
                {
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Thu Duc, Tp.Ho Chi Minh">
                        <label for="floatingInput">Enter Address</label>
                    </div>
                }

                <div class="form-floating">
                    <input type="tel" class="form-control" id="floatingInput" placeholder="0947xxx73" value="@Model.customers[0].PhoneNumber">
                    <label for="floatingInput">Enter Phone</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="@Model.customers[0].Email">
                    <label for="floatingInput">Enter Email</label>
                </div>
            </div>
        </div>

        <div class="col-6 d-flex flex-column gap-2">
            <div class="row ms-1">
                @for (var i = 0; i < Model.products.Count; i++)
                {
                   @* <component type="typeof(CartItemCard)" render-mode="Static" param-product=@item />*@
                    <div class="row">
                        <div class="card d-flex flex-row col border-1 border-color p-0">
                            <img src="image/shoe.jpg" class="card-img-top img h-auto w-30" alt="image" />
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <p class="h3">@Model.products[i].ProductName</p>
                                        <p class="h6">x @Model.currOrder.OrderDetails[i].Amount</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-end mb-1">
                                        <p class="h5">@Model.products[i].Color</p>
                                        <p class="h2 text-dark">$(@Model.products[i].ProductUnitPrice*@float.Parse(Model.pickingQuantity[i]))</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-end">
                                    <div>
                                        <p class="m-0 caption text-primary">$@Model.products[i].ProductUnitPrice</p>
                                        <Counter count="@Model.products[i].Amount" max=@Model.pickingQuantity[i] OnGetAmount="OK" />
                                    </div>
                                    <a class="icon-delete btn-icon m-0 text-primary"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="d-flex justify-content-between mt-3">
                <h5>Amounts</h5>
                <h5>Payment</h5>
            </div>
            <div class="d-flex justify-content-between">
                <h4 style="font-weight:bold">@Model.totalAmount</h4>
                <h4 style="font-weight:bold">$@Model.totalPayment</h4>
            </div>
        </div>


    </div>
    <div class="md-flex justify-content-between">

        <div>
            @*<button type="button" class="btn btn-primary" style="width:180px;">Back</button>*@
            <button type="submit" class="btn btn-primary" style="width:180px;">Submit</button>
        </div>
    </div>
</form>

