@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@model Order;

<form method="post" asp-action="Edit" asp-controller="Product" asp-area="Admin" class="modal-content w-auto border-0" enctype="multipart/form-data">
	<div class="row">
		<div class="col-8">
			<div class="row">
				<input hidden asp-for="OrderId" />
				@*user info*@
				<div class="col d-grid gap-2">
					<div class="form-floating">
						<input type="text" asp-for="User.UserName" readonly class="form-control" id="floatingInput" placeholder="Annanas A">
						<label for="floatingInput">User Name</label>
						<span asp-validation-for="User.UserName" class="text-danger"></span>
					</div>
					<div class="form-floating">
						<input type="text" asp-for="User.Email" readonly class="form-control" id="floatingInput" placeholder="Black">
						<label for="floatingInput">Email</label>
						<span asp-validation-for="User.Email" class="text-danger"></span>
					</div>
					<div class="form-floating flex-grow-1">
						<textarea class="form-control" style="height:120px" readonly asp-for="User.Email" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
						<label for="floatingTextarea">Phone number</label>
						<span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
					</div>
				</div>
				@*charge info*@
				<div class="col d-grid gap-2" style="height:fit-content">
					<div class="form-floating">
						<input type="text" asp-for="Status" readonly class="form-control" id="floatingInput" placeholder="$20">
						<label for="floatingInput">Status</label>
						<span asp-validation-for="Status" class="text-danger"></span>
					</div>
					<div class="form-floating">
						<input type="text" asp-for="DeliverryMethods" readonly class="form-control" id="floatingInput" placeholder="$20">
						<label for="floatingInput">DeliveryMethods</label>
						<span asp-validation-for="DeliverryMethods" class="text-danger"></span>
					</div>
					<div class="form-floating">
						<input type="number" asp-for="DeliveryCharge" readonly class="form-control" id="floatingInput" placeholder="1">
						<label for="floatingInput">DeliveryCharge</label>
						<span asp-validation-for="DeliveryCharge" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="table-wrap">
					<table class="table myaccordion table-hover" id="accordion">
						<thead>
							<tr>
								<th>#</th>
								<th class="button">Name</th>
								<th class="button">Price</th>
								<th class="button">Color</th>
								<th class="button">Size</th>
								<th class="button">Amount</th>
								
							</tr>
						</thead>
						<tbody>
							
								@for (var i = 1; i <= Model.OrderDetails.Count; i++)
								{
									<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">

										<th scope="row">@i</th>
									<td>@Model.OrderDetails[i-1].Product.ProductName</td>
									<td>@Model.OrderDetails[i-1].Product.ProductUnitPrice</td>
									<td>@Model.OrderDetails[i-1].Product.Color</td>




									@if (@Model.OrderDetails[i - 1].Product.Sizes.Count > 0)
										{
											<td>
											@Model.OrderDetails[i-1].Size
											</td>
										}
										else
										{
											<td>Fail </td>
										}

									<td>@Model.OrderDetails[i-1].Amount</td>


									
									</tr>
								}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
	<div class="d-flex justify-content-end mt-3 pe-3">
		
		<button type="submit" class="btn btn-primary flex-grow-1" asp-action="CompletedCheck" asp-controller="Order" asp-route-id=@Model.OrderId >Completed</button>
	
		<button type="submit" class="btn btn-secondary ms-1 icon-delete" asp-action="CanceledCheck" asp-controller="Order" asp-route-id=@Model.OrderId>
			Cancel
		</button>
	</div>
	@Html.AntiForgeryToken()
</form>


@section Scripts {
	@{
		<partial name="./_ValidationScriptsPartial"></partial>
	}
	}