@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;

@{
    List<Order> orders = ViewData["orders"] as List<Order> ?? new List<Order>();
}
<style>

</style>
<div class="row borderCustom">
    <div class="col-2 borderCustom1">
        <div class="row">
            <ii class="row-1 h6 mb-2 mt-4">Category</ii>

            <div class="tabCustom row-cols-6 w-100" style="max-height:260px; overflow-y:scroll; overflow-x:hidden">
                <button class="tabCustom" onclick="openCity(event, 'London')">All</button>
                <button class="tabCustom" onclick="openCity(event, 'London')">Retro</button>
                <button class="tabCustom" onclick="openCity(event, 'London')">Basic</button>
                <button class="tabCustom" onclick="openCity(event, 'London')">Street</button>
                <button class="tabCustom" onclick="openCity(event, 'London')">Sweet</button>

            </div>
        </div>
    </div> @*used to col-3 vs col-10*@

    <div class="container col-10">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table myaccordion table-hover" id="accordion">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Customer</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Date Create</th>
                                <th>State</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                @for (var i = 1; i <= orders.Count; i++)
                                {
                                <tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">

                                    <th scope="row">@i</th>
                                    <td>@orders[i-1].OrderId.Substring(0,5)</td>
                                    <td>@orders[i-1].User.UserName</td>
                                    <td>$@orders[i-1].OrderTotalPayment</td>
                                    <td>@orders[i-1].OrderDetails.Count</td>
                                    <td>@orders[i-1].OrderDate.ToString("dd MMM y HH:mm")</td>
                                    <td>@orders[i-1].Status.ToString()</td>
                                        @*                       <td>
                                <i class="fa" aria-hidden="true"></i>
                                </td>*@
                                </tr>
                                
                                
                                }
                            @*<tr>
                            <td colspan="6" id="collapseOne" class="acc collapse" data-parent="#accordion" style="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iste, facere sunt sequi nostrum ipsa, amet doloremque magnam reiciendis tempore sapiente. Necessitatibus recusandae harum nam sit perferendis quia inventore natus.</p>
                            </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary icon-plus rounded position-fixed" style="right:160px; bottom:40px;" onclick="location.href = '@(Url.Action("PickItem", "Order"))'"></button>