@using ShoeStoreManagement.Views.Shared.Components;
<!-- Button trigger modal -->
@using ShoeStoreManagement.Core.Models;
@using ShoeStoreManagement.Areas.Identity.Data;
@using ShoeStoreManagement.Core.ViewModels;
@model OrderVM
@{
	List<Product>? products = ViewData["products"] as List<Product> ?? null;
	List<int> ints = new List<int>() { 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44 };
}

<form method="post" asp-action="PickCustomer" asp-controller="Order" asp-area="Admin">

	<div class="row">
		<p class="h1" id="label" style="margin-left:auto;margin-right:auto">Add a new Order</p>
	</div>

	<div class="d-flex justify-content-between mt-5">
		<button type="button"
				onclick="showContentItem('@Url.Action("PickItemDialog","Order",null,Context.Request.Scheme)','Choose product')"
				class="btn btn-primary"
				style="width:180px;">
			Pick item here!
		</button>
		<button type="submit"
				class="btn btn-primary icon-arrow"
				style="">
			Next to Pick Customer
		</button>
		@*<button type="button" class="btn btn-primary" onclick="location.href = '@(Url.Action("PickCustomer", "Order"))'" style="width:180px;">Submit</button>*@
	</div>

	<div class="row mt-4" id="_pickItem">
		<table class="table myaccordion table-hover" id="accordion">
			<thead>
				<tr>
					<th>#</th>
					<th class="button">Name</th>
					<th class="button">Price</th>
					<th class="button">Color</th>
					<th class="button">Size</th>
					<th class="button">Amount</th>
					<th class="button">
						Remove
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.currentOrderDetail != null)
					@for (var i = 1; i <= Model.currentOrderDetail.Count; i++)
					{
						<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">

							<th scope="row">@i</th>
							<td>
								<div class="d-flex align-items-start">
									@if (Model.currentOrderDetail[i - 1].Product.ImageName != null)
									{
										<img src="~/image/@Model.currentOrderDetail[i-1].Product.ImageName"
								 height="60" width="60"
								 asp-append-version="true" />
									}
									@Model.currentOrderDetail[i-1].Product.ProductName
								</div>
							</td>
							<td>@Model.currentOrderDetail[i-1].Product.ProductUnitPrice</td>
							<td>@Model.currentOrderDetail[i-1].Product.Color</td>

							@if (@Model.currentOrderDetail[i - 1].Product.Sizes.Count > 0)
							{
								<td>
									@Model.currentOrderDetail[i-1].Size
								</td>
							}
							else
							{
								<td>Fail </td>
							}

							<td>@Model.currentOrderDetail[i-1].Amount</td>
							<td>
								<a asp-action="DeteleItem"
						   asp-route-id="@Model.currentOrderDetail[i-1].OrderDetailId"
						   asp-controller="Order" class="border-1 table-icon">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							</td>
						</tr>
					}
			</tbody>
		</table>
	</div>


</form>


