@using ShoeStoreManagement.Views.Shared.Components;
<!-- Button trigger modal -->
@using ShoeStoreManagement.Core.Models
@using ShoeStoreManagement.Core.ViewModel
@using ShoeStoreManagement.Areas.Identity.Data
@model CustomerDialogVM

@{
	ApplicationUser? user = ViewData["pickedUser"] as ApplicationUser ?? new ApplicationUser();
}

<form class="p-0 mt-2" method="post" action="Admin/Order/ConfirmOrder">

	<div class="w-100 d-flex justify-content-end">
		<button type="submit" class="row btn btn-primary button">Next to Confirm Order</button>
	</div>


	<div class="row mt-3">
		<div class="col-12 col-lg-8">
			<p class="h3" id="ModalLabel">CHOOSE USER</p>

			<div class="modal-body p-0 mt-2">
				<table class="table myaccordion table-hover" id="accordion">
					<thead>
						<tr>
							<th>#</th>
							<th class="button">Name</th>
							<th class="button">Email</th>
							<th class="button">Phone</th>
							<th class="button">Start Date</th>
							<th class="button"></th>
						</tr>
					</thead>
					<tbody>
						@for (var i = 1; i <= @Model.customers.Count; i++)
						{
							<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">


								<th scope="row"> @i </th>
								<td>
									@if (Model.customers[i - 1].AvatarName != null)
									{
										<img src="~/image/@Model.customers[i-1].AvatarName"
									 class="rounded-circle"
									 height="40" width="40"
									 asp-append-version="true" />
									}
									@Model.customers[i-1].FullName
								</td>
								<td> @Model.customers[i-1].Email </td>
								<td> @Model.customers[i-1].PhoneNumber </td>
								<td> @Model.customers[i-1].CreatedDate </td>
								<td>
									<input type="radio" class="form-check-input" value="@Model.customers[i-1].Id" name="pickCustomerId">
								</td>

							</tr>
						}


					</tbody>
				</table>
			</div>
		</div>

		<div class="col-12 col-lg-4 mt-5 mt-lg-0 d-flex flex-column gap-2">
			<p class="h3" id="ModalLabel">new customer</p>

			<div class="form-floating" hidden>
				<input type="text" class="form-control" id="floatingInput" hidden placeholder="Nguyen Van A" asp-for="pickCustomerId">
			</div>
			<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput" placeholder="Nguyen Van A" asp-for="pickCustomers.FullName">
				<label for="floatingInput">Enter Name</label>
			</div>

			<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput" placeholder="Thu Duc, Tp.Ho Chi Minh" asp-for="pickCustomers.SingleAddress">
				<label for="floatingInput">Enter Address</label>
			</div>
			<div class="form-floating">
				<input type="tel" class="form-control" id="floatingInput" placeholder="0947xxx73" asp-for="pickCustomers.PhoneNumber">
				<label for="floatingInput">Enter Phone</label>
			</div>
			<div class="form-floating">
				<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="pickCustomers.Email">
				<label for="floatingInput">Enter Email</label>
			</div>
		</div>
	</div>


</form>

