@{
	ViewData["Title"] = "Order Page";

	int nProducts = 0;
	nProducts = (int)ViewData["nProducts"];
	//nProducts = Int32.Parse(ViewData["nProducts"].ToString());

	int countPage()
	{

		int numberPages = 0;
		int numberOrders = 0;

		foreach (Order i in Model)
		{
			numberOrders++;
		}

		numberPages = numberOrders / 10;

		if (numberOrders % 10 != 0)
			numberPages++;

		return numberPages;
	}
}
@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;

@model List<Order>

<div class="row ">
	<div class="col-12 col-lg-3 borderCustom1 ok collapse d-lg-block">
		<div class="col">
			<div class="row">
				<ii class="row-1 h6 mb-2 mt-4">Category</ii>

				<div class="tabCustom row-cols-6 w-100" style="max-height:260px; overflow-y:scroll; overflow-x:hidden">
					<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="All" type="button">All</a>
					<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="Waiting" type="button">Waiting</a>
					<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="Delivering" type="button">Delivering</a>
					<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="Delivered" type="button">Delivered</a>
					<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="Canceled" type="button">Canceled</a>
				</div>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-end d-lg-none">
		<button class="filter-icon border-0 w-auto mb-3" data-bs-toggle="collapse" data-bs-target=".ok" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="h5">Filter</span>
		</button>
	</div>

	<div class="col-12 col-lg-9 row borderCustom">
		@foreach (var item in Model)
		{
			<component type="typeof(OrderCard)" accesskey="item" render-mode="ServerPrerendered" param-order=@item param-orderId=@item.OrderId />
		}
	</div>

	<nav class="container">
		<ul class="pagination" style="display:flex; flex-direction:row">
			@if (nProducts != 0)
			{
				if (nProducts > 1) nProducts -= 1;
				<li class="page-item"><button class="page-link" name="page" value=@nProducts type="submit">Previous</button></li>
			}
			@for (int i = 1; i <= @countPage(); i++)
			{
				if (i == nProducts + 1)
				{
					<li class="page-item"><button class="page-link" name="page" value=@i type="submit" style="background-color:lightgrey" disabled>@i</button></li>
				}
				else
				{
					<li class="page-item"><button class="page-link" type="submit" onclick="jQueryAjaxPagination('@(Url.Action("Pagination", "Order"))',@i)">@i</button></li>
				}
			}
			@if (nProducts + 1 != @countPage() && @countPage() > 0)
			{
				nProducts += 2;
				<li class="page-item"><button class="page-link" name="page" value=@nProducts type="submit">Next</button></li>
			}
		</ul>
	</nav>
</div>




