@using ShoeStoreManagement.Core.Models
@using ShoeStoreManagement.Core.ViewModel

@model ProductVM

@{
	int nProducts = 0;
	nProducts = Model.page;
	//nProducts = Int32.Parse(ViewData["nProducts"].ToString());

	int countPage()
	{

		int numberPages = 0;
		int numberProducts = 0;

		foreach (Product i in Model.products)
		{
			numberProducts++;
		}

		numberPages = numberProducts / 10;

		if (numberProducts % 10 != 0)
			numberPages++;

		return numberPages;
	}
}

<div class="table-wrap">
	<table class="table myaccordion table-hover" id="accordion">
		<thead>
			<tr>
				<th>#</th>
				<th class="button">Name</th>
				<th class="button">Price</th>
				<th class="button">Color</th>
				<th class="button">Category</th>
				<th class="button">Amount</th>
				<th class="button">Edit</th>
				<th class="button">Add to cart</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null)
			{
				var a = nProducts * 10;
				for (int i = (nProducts) * 10; i < Model.products.Count; i++)
				{
					a++;
					if (a == (nProducts + 1) * 10 + 1) break;

					<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">

						<th scope="row">@a</th>
						<td>
							@if (Model.products[i].ImageName != null)
							{
								<img src="~/image/@Model.products[i].ImageName"
									 class="rounded-circle"
									 height="40" width="40"
									 asp-append-version="true" />
							}
							@Model.products[i].ProductName
						</td>
						<td>$@Model.products[i].ProductUnitPrice</td>
						<td>@Model.products[i].Color</td>
						<td>@Model.products[i].ProductCategory.ProductCategoryName</td>
						<td>@Model.products[i].Amount</td>
						<td>
							<a onclick="showContent('@Url.Action("Edit","Product",null,Context.Request.Scheme)','Edit Product @Model.products[i].ProductName','@Model.products[i].ProductId')" class="border-1 table-icon">
								<i class="fas fa-edit"></i>
							</a>
						</td>
						<td>
							<a onclick="showContent('@Url.Action("ChooseSize","Product",null,Context.Request.Scheme)','Choose Sizes','@Model.products[i].ProductId')" class="link-info table-icon">
								<i class="fas fa-cart-plus"></i>
							</a>
						</td>
					</tr>

				}
			}
		</tbody>
	</table>

		<nav class="container">
			<ul class="pagination" style="display:flex; flex-direction:row">
				@if (nProducts != 0)
				{
					if (nProducts > 1) nProducts -= 1;
					<li class="page-item"><button class="page-link" name="page" value=@nProducts type="submit">Previous</button></li>
				}
				@for (int i = 1; i <= @countPage(); i++)
				{
					if (i == nProducts + 1)
					{
						<li class="page-item"><button class="page-link" name="page" value=@i type="submit" style="background-color:lightgrey" disabled>@i</button></li>
					}
					else
					{
					<li class="page-item"><button class="page-link" type="submit" onclick="jQueryAjaxPagination('@(Url.Action("Pagination", "Product"))',@i)">@i</button></li>
					}
				}
				@if (nProducts + 1 != @countPage() && @countPage() > 0)
				{
					nProducts += 2;
					<li class="page-item"><button class="page-link" name="page" value=@nProducts type="submit">Next</button></li>
				}
			</ul>
		</nav>	
</div>