@using ShoeStoreManagement.Core.ViewModel;
@using ShoeStoreManagement.Core.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ProductVM;



<div class="col">
    <div class="form-group">
        @foreach (var i in Model.categories)
        {
            <div class="form-check mt-2 col">
                <input class="form-check-label ml-5 d-flex col-9 align-items-center" id="input-@i.ProductCategoryId" value="@i.ProductCategoryName" />
                <button type="button" class="btn btn-primary col-3" onclick="EditCategory('@(Url.Action("EditCategory", "Product"))','@i.ProductCategoryName','@i.ProductCategoryId')">@i.ProductCategoryName Edit</button>
            </div>
        }
    </div>

</div>

<input type="text" placeholder="New category ( u wont be able to adjust, so be careful)" name="addCategories" id="input-addCategories" class="form-control ms-2" />
<button type="button" class="btn btn-primary" onclick="createCategory('@(Url.Action("AddCategory", "Product"))')">Add ne</button>

@Html.AntiForgeryToken()


@section Scripts {
    @{
        <partial name="./_ValidationScriptsPartial"></partial>
    }
	}

