@using ShoeStoreManagement.Core.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Product;

@{
	List<SizeDetail> chosenProductSizes = ViewData["chosenProductSizes"] as List<SizeDetail> ?? null;

	List<SizeDetail> sizeList = new List<SizeDetail>() {
		new SizeDetail() {Size = 35, Amount = 0},
		new SizeDetail() {Size = 36, Amount = 0},
		new SizeDetail() {Size = 37, Amount = 0},
		new SizeDetail() {Size = 38, Amount = 0},
		new SizeDetail() {Size = 39, Amount = 0},
		new SizeDetail() {Size = 40, Amount = 0},
		new SizeDetail() {Size = 41, Amount = 0},
		new SizeDetail() {Size = 42, Amount = 0},
		new SizeDetail() {Size = 43, Amount = 0},
		new SizeDetail() {Size = 44, Amount = 0},
	};

	//Get the amount of available sizes from chosen product
	foreach (SizeDetail i in chosenProductSizes)
	{
		foreach (SizeDetail y in sizeList)
		{
			if (i.Size == y.Size)
			{
				y.Amount = i.Amount;
			}
		}
	}
}

<!-- Modal -->
<form method="post" action="Admin/Product/ToCart" class="modal-content w-auto px-3 py-3">
	<div class="row">
		<h5 class="modal-title" id="ModalLabel">Choose sizes</h5>
	</div>
	<div class="row p-0 mt-2" style="width: 500px">
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<input asp-for="@Model.ProductId" hidden />
					<input asp-for="@Model.ProductUnitPrice" hidden />
					<input asp-for="@Model.Amount" hidden />
					@for (int i = 0; i < 5; i++)
					{
						<div class="form-check mt-2">
							@if (sizeList[i].Amount == 0)
							{
								<input class="form-check-input" type="checkbox" value="@sizeList[i].Size" name="TestSize" id="checkbox_@sizeList[i].Size" disabled="disabled" />
								<label class="form-check-label ml-5 d-flex align-items-center" for="@sizeList[i].Size">
									@sizeList[i].Size
									<input type="number" placeholder="@sizeList[i].Amount" name="TestSizeAmount" id="input_@sizeList[i].Amount" class="form-control ms-2" disabled />
								</label>
							}
							@if (sizeList[i].Amount != 0)
							{
								<input class="form-check-input" type="checkbox" name="TestSize" value="@sizeList[i].Size" />
								<label class="form-check-label ml-5 d-flex align-items-center" for="@sizeList[i].Size">
									@sizeList[i].Size
									<input type="number" name="TestSizeAmount" placeholder="@sizeList[i].Amount" class="form-control ms-2" />
								</label>
							}
						</div>
					}
				</div>
			</div>

			<div class="col-6">
				<div class="form-group">
					@for (int i = 5; i < 10; i++)
					{
						<div class="form-check mt-2">
							@if (sizeList[i].Amount == 0)
							{
								<input class="form-check-input" type="checkbox" value="@sizeList[i].Size" name="TestSize" id="checkbox_@sizeList[i].Size" disabled="disabled" />
								<label class="form-check-label ml-5 d-flex align-items-center" for="@sizeList[i].Size">
									@sizeList[i].Size
									<input type="number" placeholder="@sizeList[i].Amount" name="TestSizeAmount" id="input_@sizeList[i].Amount" class="form-control ms-2" disabled />
								</label>
							}
							@if (sizeList[i].Amount != 0)
							{
								<input class="form-check-input" type="checkbox" name="TestSize" id="checkbox_@sizeList[i].Size" value="@sizeList[i].Size" />
								<label class="form-check-label ml-5 d-flex align-items-center" for="@sizeList[i].Size">
									@sizeList[i].Size
									<input type="number" name="TestSizeAmount" placeholder="@sizeList[i].Amount" class="form-control ms-2" />
								</label>
							}
						</div>
					}
				</div>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-between align-items-end">
		<p class="icon-back" data-dismiss="modal" aria-label="Back"></p>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
	@Html.AntiForgeryToken()
</form>

@section Scripts {
	@{
		<partial name="./_ValidationScriptsPartial"></partial>
	}
	}