@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@model ShoeStoreManagement.Core.Models.Product
@*ProductINDEX*@
@{
    List<Product>? products = ViewData["products"] as List<Product> ?? null;
    List<ProductCategory>? productCategories = ViewData["productCategories"] as List<ProductCategory> ?? null;
    Product metmoi = new Product()
    {
    };

}
<style>


    table,
    thead {
        border-bottom: dotted;
        border-bottom: 1px solid rgba(20, 33, 61, 0.1);
    }

</style>

<div class="row">

    <div class="col-2 borderCustom1">
        <div class="col">
            <div class="row">
                <ii class="row-1 h6 mb-2 mt-4">Category</ii>

                <div class="radioLayoutTabCustom row-cols-6">
                    <label class="radioLayoutTabCustom"> <input type="radio" value="" name="categoryRadio" />All</label>
                    @foreach (ProductCategory i in productCategories)
                    {
                        <label class="radioLayoutTabCustom"> <input type="radio" value="@i.ProductCategoryName" name="categoryRadio" />@i.ProductCategoryName</label>
                    }

                </div>

            </div>

            <div class="row mt-3">
                <ii class="row-1 h6">Price</ii>

                <div class="radioLayoutTabCustom row-cols-6">
                    <label class="radioLayoutTabCustom"> <input type="radio" value="" name="priceRadio" />All</label>
                    <label class="radioLayoutTabCustom"> <input type="radio" value="0-10" name="priceRadio" />0-10</label>
                    <label class="radioLayoutTabCustom"> <input type="radio" value="10-100" name="priceRadio" />10-100</label>
                    <label class="radioLayoutTabCustom"> <input type="radio" value="100-1000" name="priceRadio" />100-1000</label>
                </div>
            </div>

            <input class="btn-primary" type="submit" />

        </div>
    </div> @*used to col-3 vs col-10*@

    <div class="container col-10">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table myaccordion table-hover" id="accordion">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="button">Name</th>
                                <th class="button">Price</th>
                                <th class="button">Color</th>
                                <th class="button">Category</th>
                                <th class="button">Amount</th>
                                <th class="button">Edit</th>
                                <th class="button">Add to cart</th>


                            </tr>
                        </thead>
                        <tbody>
                            @if (products != null)
                            {
                                int a = 0;
                                foreach (var i in products)
                                {
                                    @(a++)
                                    
                                    <tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        <th hidden>
                                            <input name="ProductId" value="@i.ProductId" />
                                        </th>
                                        <th scope="row">@a</th>
                                        
                                        <td>@i.ProductName</td>
                                        <td>@i.ProductUnitPrice</td>
                                        <td>@i.Color</td>
                                        <td>@i.ProductCategory.ProductCategoryName</td>
                                        <td>@i.Amount</td>
                                        <td>
                                            <a onclick="showContent('@Url.Action("Edit","Product",null,Context.Request.Scheme)','Im not here','@i.ProductId')"class="btn btn-outline-info"  >
                                                <i class ="fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a  onclick="showContent('@Url.Action("AddToCart","Product",null,Context.Request.Scheme)','Im here','@i.ProductId')" 
                                            value="@i.ProductId" class="btn btn-outline-info">Save</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <component type="typeof(Pagination)" render-mode="Static" />
    </div>

</div>


<script src="~/js/site1.js" asp-append-version="true"></script>
<partial name="Create.cshtml" view-data="ViewData" model="metmoi" />
@section Scripts {
    <script type="text/javascript">
        

        $('#btnsubmit').click(function () {
            var id = $('#btnsubmit').val();
            ('#CCModal').show();
            
            alert(id);
            debugger;
            $.ajax({
                url: '/Product/AddToCart',
                type: 'GET',
                data: id,
                success: function (a) {
                    alert("123");
                }


            })
        });

    </script>
    @{
        <partial name="./_ValidationScriptsPartial"></partial>





    }
	}