@model ShoeStoreManagement.Core.Models.Product
@using ShoeStoreManagement.Areas.Admin.Controllers
@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@using ShoeStoreManagement.Core.ViewModel;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

@{
    List<Product>? products = ViewData["products"] as List<Product> ?? null;
    List<ProductCategory>? productCategories = ViewData["productCategories"] as List<ProductCategory> ?? null;
    List<string> filters = ViewData["filters"] as List<string> ?? null;
    List<string> priceFilters = new List<string> { "", "0-10", "10-100", "100-1000" };
    int nProducts = (int)ViewData["page"] - 1;

    int countPage()
    {

        int numberPages = 0;
        int numberProducts = 0;

        foreach (Product i in products)
        {
            numberProducts++;
        }

        numberPages = numberProducts / 10;

        if (numberProducts % 10 != 0)
            numberPages++;

        return numberPages;
    }
}

<style>
    table,
    thead {
        border-bottom: dotted;
        border-bottom: 1px solid rgba(20, 33, 61, 0.1);
    }

</style>

<div class="row">
    <form asp-action="taolao" asp-area="Admin" asp-controller="Product" method="post" class="col-2 borderCustom1" onsubmit="return jQueryAjaxSort(this);" autocomplete="off">
        <div class="col">
            <div class="row">
                <ii class="row-1 h6 mb-2 mt-4">Category</ii>

                <div class="radioLayoutTabCustom row-cols-6 w-100" style="max-height:260px; overflow-y:scroll; overflow-x:hidden">
                    @if (string.IsNullOrEmpty(filters[0]))
                    {
                        <label class="radioLayoutTabCustom"> <input type="radio" value="" name="categoryRadio" checked />All</label>
                    }
                    @if (!string.IsNullOrEmpty(filters[0]))
                    {
                        <label class="radioLayoutTabCustom"> <input type="radio" value="" name="categoryRadio" />All</label>
                    }
                    @foreach (ProductCategory i in productCategories)
                    {
                        if (i.ProductCategoryName.Equals(filters[0]))
                        {
                            <label class="radioLayoutTabCustom"> <input type="radio" value="@i.ProductCategoryName" name="categoryRadio" checked />@i.ProductCategoryName</label>
                        }
                        else
                        {
                            <label class="radioLayoutTabCustom"> <input type="radio" value="@i.ProductCategoryName" name="categoryRadio" />@i.ProductCategoryName</label>
                        }
                    }

                </div>

            </div>

            <div class="row mt-3">
                <ii class="row-1 h6">Price</ii>

                <div class="radioLayoutTabCustom row-cols-6 w-100">
                    @foreach (string i in priceFilters)
                    {
                        if (i.Equals(filters[1]))
                        {
                            <label class="radioLayoutTabCustom"> <input type="radio" value="@i" name="priceRadio" checked />@i</label>
                        }
                        else if (string.IsNullOrEmpty(i))
                        {
                            <label class="radioLayoutTabCustom"> <input type="radio" value="" name="priceRadio" checked />All</label>
                        }
                        else
                        {
                            <label class="radioLayoutTabCustom"> <input type="radio" value="@i" name="priceRadio" />@i</label>
                        }
                    }
                </div>
            </div>

            <button class="btn btn-secondary rounded w-100 mt-5" type="submit" />
        </div> @*used to col-3 vs col-10*@
    </form>

    <div class="container col-10" id="product-table">
        @await Html.PartialAsync("ProductTable.cshtml",Model)
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <div class="modal-content border-0 px-3 py-3" style="width:fit-content">
            <div class="modal-header pt-4 pb-2">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@{
    ProductVM metmoi = new ProductVM() { };
}

<partial name="Create.cshtml" view-data="ViewData" model="metmoi"></partial>

@{
    <partial name="./_ValidationScriptsPartial"></partial>
}