@using ShoeStoreManagement.Areas.Identity.Data;

@model List<ApplicationUser>

@{
	int nProducts = 0;
	nProducts = (int)ViewData["nProducts"];
	//nProducts = Int32.Parse(ViewData["nProducts"].ToString());

	int countPage()
	{

		int numberPages = 0;
		int numberProducts = 0;

		foreach (ApplicationUser i in Model)
		{
			numberProducts++;
		}

		numberPages = numberProducts / 10;

		if (numberProducts % 10 != 0)
			numberPages++;

		return numberPages;
	}
}

<div class="table-wrap">
	<table class="table myaccordion table-hover" id="accordion">
		<thead>
			<tr>
				<th>#</th>
				<th class="button">Name</th>
				<th class="button">Email</th>
				<th class="button">Phone</th>
				<th class="button">Orders</th>
				<th class="button">Start Date</th>
				<th class="button">Role</th>
				<th class="button"></th>
			</tr>
		</thead>
		<tbody>
			@for (var i = 1; i <= Model.Count; i++)
			{
				<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">

					<th scope="row">@i</th>
					<td>
						@if (Model[i - 1].AvatarName != null)
						{
							<img src="~/image/@Model[i-1].AvatarName"
						 class="rounded-circle"
						 height="40" width="40"
						 asp-append-version="true" />
						}
						@if(@Model[i-1].FullName != "")
							@Model[i-1].FullName
						else
						{
							@Model[i-1].Email
						}
					</td>
					<td>@Model[i-1].Email</td>
					<td>@Model[i-1].PhoneNumber</td>
					<td>numbers of Orders</td>
					<td>@Model[i-1].CreatedDate</td>
					<td>@Model[i-1].Role</td>
					<td>
						<a onclick="showContent('@Url.Action("Edit","User",null,Context.Request.Scheme)','Edit User @Model[i-1].FullName','@Model[i-1].Id')" class="table-icon">
							<i class="fas fa-edit"></i>
						</a>
					</td>


					@*                       <td>
				<i class="fa" aria-hidden="true"></i>
				</td>*@
				</tr>
			}
			@*<tr>
			<td colspan="6" id="collapseOne" class="acc collapse" data-parent="#accordion" style="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iste, facere sunt sequi nostrum ipsa, amet doloremque magnam reiciendis tempore sapiente. Necessitatibus recusandae harum nam sit perferendis quia inventore natus.</p>
			</td>
			</tr>*@

		</tbody>
	</table>
	<nav class="container">
			<ul class="pagination" style="display:flex; flex-direction:row">
				@if (nProducts != 0)
				{
					if (nProducts > 1) nProducts -= 1;
					<li class="page-item"><button class="page-link" name="page" value=@nProducts type="submit">Previous</button></li>
				}
				@for (int i = 1; i <= @countPage(); i++)
				{
					if (i == nProducts + 1)
					{
						<li class="page-item"><button class="page-link" name="page" value=@i type="submit" style="background-color:lightgrey" disabled>@i</button></li>
					}
					else
					{
					<li class="page-item"><button class="page-link" type="submit" onclick="jQueryAjaxPagination('@(Url.Action("Pagination", "User"))',@i)">@i</button></li>
					}
				}
				@if (nProducts + 1 != @countPage() && @countPage() > 0)
				{
					nProducts += 2;
					<li class="page-item"><button class="page-link" name="page" value=@nProducts type="submit">Next</button></li>
				}
			</ul>
		</nav>	
</div>